body{
    background:#fff7fa;
    font-family:'Montserrat',sans-serif;
}

.policy-container{
    max-width:1200px;
    margin:15px auto;
    padding:0 20px;
}

.policy-title{
    text-align:center;
    font-size:24px;
    color:#e85d8a;
    font-weight:700;
    margin:20px 0;
    line-height:1.2;
}

.policy-card{
    background:#fff;
    padding:35px;
    border-radius:20px;
    margin-bottom:30px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.policy-card h2{
    color:#e85d8a;
    margin-bottom:20px;
    font-size:28px;
}

.policy-card p{
    font-size:16px;
    line-height:1.9;
    color:#555;
    margin-bottom:15px;
    text-align:justify;
}

.policy-card ul{
    padding-left:25px;
}

.policy-card li{
    font-size:16px;
    line-height:1.9;
    color:#555;
    margin-bottom:10px;
}

html{
    scroll-behavior:smooth;
}

@media(max-width:768px){

    .policy-container{
        margin:0 auto;
        padding:10px;
    }

    .policy-title{
        margin:8px 0 12px;
        font-size:20px;
    }

    .policy-card{
        margin-top:0;
    }

    .policy-card h2{
        font-size:20px;
        line-height:1.3;
        margin-bottom:15px;
    }

    .policy-card p,
    .policy-card li{
        font-size:15px;
        line-height:1.8;
    }

    .policy-card ul{
        padding-left:20px;
    }

    .policy-card p{
        text-align:left;
    }
}