.promo-banner{
    max-width:1200px;
    margin:30px auto 40px;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.promo-banner img{
    width:100%;
    height:500px;
    object-fit:cover;
    display:block;
}/* =========================
LAYOUT
========================= */

.product-layout{
    max-width:1200px;
    margin:auto;
    padding:0 20px 40px;
}

/* =========================
PRODUCTS
========================= */

.products{
flex:1;
min-width:0;
}

/* =========================
TOOLBAR
========================= */

.toolbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:35px;
}

.toolbar h2{
font-size:28px;
font-weight:700;
color:#E86A92;
}

.sort{
width:180px;
height:50px;
padding:0 18px;
border-radius:14px;
border:1px solid #E8E8E8;
background:#fff;
outline:none;
cursor:pointer;
}

/* =========================
GRID
========================= */

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

/* =========================
CARD
========================= */

.promo-card{
position:relative;
background:#fff;
border-radius:22px;
padding:20px;
display:flex;
flex-direction:column;
min-height:450px;
overflow:hidden;
transition:.3s;
}

.promo-card:hover{
transform:translateY(-6px);
box-shadow:0 15px 35px rgba(232,106,146,.15);
}

/* SALE */

.sale{
position:absolute;
top:18px;
left:18px;
background:#FF5E8E;
color:#fff;
padding:7px 12px;
border-radius:20px;
font-size:13px;
font-weight:600;
}

/* IMAGE */

.promo-card img{
width:100%;
height:220px;
object-fit:contain;
margin-bottom:18px;
}

/* TITLE */

.promo-card h4{

font-size:15px;

font-weight:400;

line-height:1.4;

color:#333;

margin:12px 0 10px;

display:-webkit-box;

-webkit-line-clamp:2;

-webkit-box-orient:vertical;

overflow:hidden;

text-overflow:ellipsis;

height:42px;

}

/* PRICE */

.old-price{
font-size:14px;
color:#B5B5B5;
text-decoration:line-through;
margin-bottom:6px;
}

.price{
    font-size: 16px;
    font-weight: 700;
    color: #ff6699;
    margin-top: 8px;
}

/* BUTTON */

.action{
margin-top:auto;
}

.action a{
width:100%;
height:50px;
background:#E86A92;
color:#fff;
border-radius:14px;
display:flex;
align-items:center;
justify-content:center;
font-weight:600;
transition:.3s;
text-decoration: none;
}

.action a:hover{
background:#d85b82;
}

/* =========================
PAGINATION
========================= */

.pagination{
display:flex;
justify-content:center;
gap:12px;
margin-top:40px;
}

.pagination button{
width:42px;
height:42px;
border:none;
background:#fff;
border-radius:12px;
cursor:pointer;
font-weight:600;
transition:.3s;
}

.pagination button.active{
background:#E86A92;
color:#fff;
}

/* =========================
RESPONSIVE
========================= */
@media (max-width:768px){
     .toolbar h2{
        font-size:26px;
        line-height:1.2;
    }
    .product-layout{
        display:block;
        padding:10px;
    }

    .sidebar{
        width:100%;
        padding:15px;
        margin-bottom:15px;
    }
    .grid{
        grid-template-columns:repeat(2,1fr);
        gap:12px;
    }

    .promo-card{
        min-height:auto;
        padding:12px;
    }

    .promo-card img{
        height:120px;
        margin-bottom:10px;
    }

    .promo-card h4{
        font-size:13px;
        line-height:1.4;
        height:38px;
        margin:8px 0;
    }

    .old-price{
        font-size:12px;
        margin-bottom:2px;
    }

    .price{
        font-size:14px;
        margin-top:0;
    }

    .action a{
        height:38px;
        font-size:13px;
    }

     .pagination button{
        appearance:none;
        -webkit-appearance:none;
        color:#000;
    }

    .sort{
        appearance:none;
        -webkit-appearance:none;
        color:#000;
    }
}